<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% extends 'asisten/base.html' %}
{% block content %}
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<p><a href="{% url 'pekerja_add' %}"><b> Tambah Pekerja </b></a>&nbsp;
	   <a href="{% url 'pekerja_to_pdf' %}"><b> Print PDF </b></a>
	</p>
	<br>
	</nav>

	<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
	{% for pekerja in asisten %}
	<h3><a href="{% url 'pekerja_detail_view' pekerja.id %}">{{pekerja.nama_pekerja}}</a></h3>
	<i>Kategori :</i>
	{% if  pekerja.kategori == 'sp' %}
		Supir
		{% elif pekerja.kategori == 'ss' %}
			Suster
			{% else %}
				Asisten
		{% endif %}
	{% endfor %}
{% endblock %}
 <hr class="d-sm-none">
    </div>
</body>
</html>