<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		@page {
			size: A4 landscape;
			margin: 1cm;
		}
	</style>
</head>
<body>
<font size="15px" color="#8a2be2"> DAFTAR PEKERJA</font>
<br><br>
<table border="1">
	<thead>
		<tr>
			<th>Nama Pekerja</th>
			<th>Jenis</th>
			<th>Pengalaman Kerja</th>
			<th>Alamat Rumah</th>
		</tr>
	</thead>
	<tbody>
		{% for pekerja in asisten %}
		<tr>
			<td width="40%">{{ pekerja.nama_pekerja }}</td>
			<td width="15%"> {% if  pekerja.kategori == 'sp' %} Supir 
				{% elif pekerja.kategori == 'ss' %} Suster
				{% else %} Asisten
				{% endif %}
			</td>
			<td width="15%" align="right">{{ pekerja.pengalaman }} Tahun</td>
			<td><br>{{ pekerja.alamat_rumah }}<br></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
</html>